<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>LibrarySystem</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.html</welcome-file>
    <welcome-file>Studentlogin.html</welcome-file>
    <welcome-file>adminDash.html</welcome-file>
    <welcome-file>NewStudentlogin.html</welcome-file>
    <welcome-file>Studentloginpage.html</welcome-file>
    <welcome-file>forget.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>books.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMission</display-name>
    <servlet-name>NewMission</servlet-name>
    <servlet-class>Library.NewMission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMission</servlet-name>
    <url-pattern>/NewMission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserStudent</display-name>
    <servlet-name>NewUserStudent</servlet-name>
    <servlet-class>books.NewUserStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserStudent</servlet-name>
    <url-pattern>/NewUserStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginn</display-name>
    <servlet-name>StudentLoginn</servlet-name>
    <servlet-class>books.StudentLoginn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginn</servlet-name>
    <url-pattern>/StudentLoginn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogin</display-name>
    <servlet-name>studentlogin</servlet-name>
    <servlet-class>books.studentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogin</servlet-name>
    <url-pattern>/studentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>books.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentdetails</display-name>
    <servlet-name>studentdetails</servlet-name>
    <servlet-class>books.studentdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentdetails</servlet-name>
    <url-pattern>/studentdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLog</display-name>
    <servlet-name>StudentLog</servlet-name>
    <servlet-class>books.StudentLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLog</servlet-name>
    <url-pattern>/StudentLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindash</display-name>
    <servlet-name>admindash</servlet-name>
    <servlet-class>books.admindash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindash</servlet-name>
    <url-pattern>/admindash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlog</display-name>
    <servlet-name>adminlog</servlet-name>
    <servlet-class>bokks.adminlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlog</servlet-name>
    <url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLog</display-name>
    <servlet-name>adminLog</servlet-name>
    <servlet-class>books.adminLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLog</servlet-name>
    <url-pattern>/adminLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlog</display-name>
    <servlet-name>Adminlog</servlet-name>
    <servlet-class>books.Adminlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlog</servlet-name>
    <url-pattern>/Adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAddNewBook</display-name>
    <servlet-name>ToAddNewBook</servlet-name>
    <servlet-class>books.ToAddNewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAddNewBook</servlet-name>
    <url-pattern>/ToAddNewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toissuebook</display-name>
    <servlet-name>Toissuebook</servlet-name>
    <servlet-class>books.Toissuebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toissuebook</servlet-name>
    <url-pattern>/Toissuebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stuviewbooks</display-name>
    <servlet-name>stuviewbooks</servlet-name>
    <servlet-class>books.stuviewbooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stuviewbooks</servlet-name>
    <url-pattern>/stuviewbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requestb</display-name>
    <servlet-name>Requestb</servlet-name>
    <servlet-class>books.Requestb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requestb</servlet-name>
    <url-pattern>/Requestb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminprocess</display-name>
    <servlet-name>Adminprocess</servlet-name>
    <servlet-class>books.Adminprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminprocess</servlet-name>
    <url-pattern>/Adminprocess</url-pattern>
  </servlet-mapping>
</web-app>